footer .up-footer {
    padding: 50px 0;
    background-size: cover;
    position: relative;
}
footer .up-footer .container{
    position: relative;
    z-index: 2;
}
footer .up-footer:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #286eab;
}
footer .up-footer h2 {
    color: #c5c5c5;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    font-size: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
footer .up-footer p {
    color: white;
}
footer .up-footer img {
    margin-top: 20px;
}
footer .up-footer ul.tag-list {
    margin: 0;
    padding: 0;
}
footer .up-footer ul.tag-list li {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 6px;
}
footer .up-footer ul.tag-list li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    padding: 8px 18px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
footer .up-footer ul.tag-list li a:hover {
    background: #286eab;
    border: 1px solid #286eab;
}
footer .up-footer ul.navigation {
    margin: 0;
    padding: 0;
}
footer .up-footer ul.navigation li {
    list-style: none;
    margin-bottom: 5px;
}
footer .up-footer ul.navigation li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.9);
}
footer .up-footer ul.navigation li a:hover {
    color: #286eab;
}
.footer-widget .link-list a {
    color: white;
    text-transform: capitalize;
    line-height: 30px;
}
.footer-widget .link-list{
    list-style: none;
    padding: 0px;
}
footer .up-footer .info-widget p {
    margin-bottom: 5px;
}
footer .up-footer .info-widget p span {
    font-family: 'Montserrat', sans-serif;
    color: #c5c5c5;
}
footer .up-footer .info-widget p.first-par {
    margin-bottom: 20px;
}
footer .copyright {
    padding: 25px 0;
    background: #286eab;
    border-top: 1px solid #286eab;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}
footer .copyright p{
    color: white;
    text-transform: capitalize;
}