.projects-section {
    background: #f9f9f9;
}

.font-header {
    font-size: 20px;
    font-weight: bolder;
    
    a {
        color: #286eab;
    }
    a:hover {
        color: #2267a6;
        border-bottom: 1px solid #286eab;
    }
}
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    background: transparent;
}

@media (max-width: 991px) {
    #nav-collapse.show {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.95);
        z-index: 1040;
    }
}

.fixed-navbar.sticky {
    position: fixed;
    top: 0;
    background: #fffdfd !important;
}
.about-section {
    padding: 0px 0px 0px;
    overflow: hidden;
    background: #286eab;
}
.about-section .title2 h2{
    color: #fff;
}
.about-section .tl-spoiler {
    position: relative;
    margin-top: 25px;
}
.about-section .tl-spoiler > h6 {
    font-size: 1.4rem;
    padding-right: 0;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
    color: #E9FFFC;
}
.about-section .tl-spoiler .tl-spoiler-content {
    padding-left: 30px;
    font-size: 13px;
    color: #E9FFFC;
    line-height: 26px;
}
.who-content{
    padding: 57px 0px;
}
.who-img{
    overflow: hidden;
    padding-left: 65px;
}
.img-full{
    max-width: none;
    width: auto !important;
}
.who-img img:after{
    width: 98%;
    height:98%;
    content: "";
    display: block;
    border: 2px solid #fff;
}
.about-section ul{
    padding: 0;
    margin-top: 25px;
}
.about-section ul li {
    margin-top: 15px;
    list-style: none;
}
.about-section ul li a {
    font-family: Open Sans;
    font-style: italic;
    font-size: 13px;
    color: #6E6E6E;
    font-weight: 400;
}
.about-section p{
    line-height: 29px;
}
.about-section .who-content p{
    color: #E9FFFC;
}

